#twoCalendar
{
  display: flex;
  margin-top: 6px;
  align-items: center;
  justify-content: space-between;
}

#datePicker-0
{
  background-color: #f1f2f6;
  border-radius: 8px 0px 0px 8px;
  height: 45px;
  border: none;
  
}

#datePickerContainer
{
  display: inline;

}

#datePicker-1
{
  background-color: #f1f2f6;
  border-radius: 0px 8px 8px 0px;
  height: 45px;
  border: none;
  
}

#divider
{
  position: relative;
  left : -180.5px;
  width: 2.5px;
  background-color: #e3e3e6;
  height: 30px;
  z-index: 1;
  
}




.react-datepicker__day
{
  height: 30px;
  width: 30px;
  line-height: 30px;
  /* correspond au conteneur des jours*/
}
/* .react-datepicker__month-container */

.react-datepicker {
  font-size: 14px;
  border: none;
  
}

.react-datepicker__header {
  height: 40px;
  font-weight: bold;
  background-color: #b59b9b;
}

.react-datepicker__tab-loop
{
  background-color: #3a349a;
  display: inline-block;
  
}

.datepicker-wrapper {
 background-color: #000000;
 
}