#datePicker-0
{
  background-color: #f1f2f6;
  border-radius: 8px 0px 0px 8px;
  height: 45px;
  border: none;
}

.datePickerContainer
{
  display: flex;
  align-items: center;
  
}

#datePicker-1
{
  background-color: #f1f2f6;
  border-radius: 0px 8px 8px 0px;
  height: 45px;
  border: none;
  margin-left: 2px;
}
.react-datepicker
{
  padding-right: -200px;
}


/* .react-datepicker__month-container */



@media (max-width: 768px) {
  .datePickerContainer, .react-datepicker-wrapper, #datePicker-0, #datePicker-1

  {
    width: 100%;
    margin-left: auto;
    margin-top: 2px;
    border-radius: 8px;
  }
  
  
}

@media (min-width: 769px) and (max-width: 1024px) {
  .react-datepicker-wrapper, #datePicker-0, #datePicker-1

  {
    width: 100%;
    margin-top: 2px;
  }

  .datePickerContainer
  {
    margin-left: 4px;
  }
  
  
}