#passengerButton
{
  justify-content: center;
  margin-right: auto;
  margin-top: 15px;
  border: none;
  margin-left: 15px;
}

#passengerCount
{
  display: none;
}

.passenger-label
{
  margin-right: 30px;
}

.passenger-count
{
  margin: 15px;
}

.line
{
  background-color: #f1f2f6;
  width: 75%;
  height: 2px;
  display: inline-block;
}

.passengerInfo
{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 5px;
}

#passengerCount.visible
{
  display: block;
  width: 350px;
  margin-left: 120px;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  margin-top: 35px;
}

#totalPassengersInfo
{
  display: inline-flex;
}

#totalPassengerCount
{
  margin-right: 3px;
}

#passengerButton
{
  border: none;
  background-color: #ffffff;
}

#passengerButton:hover
{
  cursor: pointer;
}

#youthAgeInfo
{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  
}

#scroll
{
  height: 200px;
  overflow: auto;
}

#youthAge
{
  border-radius: 50%;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  margin-left: -80px;
  overflow: auto;
  background-color: #2596be;
}

#ageDivider
{
  background-color: #f1f2f6;
  width: 50%;
  height: 2px;
  display: inline-flex;
}

.passengerCount
{
  background-color: #2196F3;
  margin-left: 150px;
}

#youthAgeContainer
{
  overflow: auto;
}

.passengers
{
  display: flex;
}

#passengerInfo
{
  display: flex;
}

#containerPassengers
{
  background-color: #c47272;
  width: 150px;
  
}


.chevrons {
  transition: transform 0.3s;
}

.flipPass {
  animation: flip 1s forwards;
  animation-play-state: running;
}

.flipDownPass
{
  animation: flipDown 1s forwards;
  animation-play-state: running;
}


@keyframes flipPass {
  0% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes flipDownPass {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(180deg);
  }
}