#searchBar
{  
  background-color: #ffffff;
  border-radius: 10px;
  padding-top: 50px;
  max-width: 1190px;
  margin: 100px auto 0;
  padding: 50px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#allInput
{
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  #searchBar
  {
    width: 80%;
  }
  #allInput
  {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px)  {
  #searchBar
  {
    width: 80%;
  }
  #allInput
  {
    margin: auto;
  }
  
}

























/* 
.fontChevron
{
  margin-right: 5px;
}

#selectedTripType:hover
{
  cursor: pointer;
}

.rotate 
{
  transition:  transform 0.3s ease;
}

.rotate2
{
  transition:  transform 0.3s ease;

}







.switch 
{
  position: relative;
  justify-content: flex-start;
  display: inline-block;
  width: 35px;
  height: 17px;
  margin-top: 15px;
  margin-left: 55px;
}
  
.switch input[type="checkbox"]
{
  display: none;
}
  
#slider 
{
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: -1px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
  
#slider:before 
{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
  
input:checked + #slider 
{
  background-color: #2196F3;
}
  
input:checked + #slider:before 
{
  transform: translateX(13px);
}

#scroll
{
  overflow: auto;
}

@media screen and (max-width: 900px)
{
    #searchBar {
      max-width: 80%;
      display: inline-block;
      height: 50%;

    }

    #inputSearchBar
    {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    #inputSearchFrom, #inputSearchTo
    {
      min-width: 90%;
      margin-left: auto;
      margin-right: auto;
      
    }
    
    
    
    #datePicker-0
    {
      width: 150px;
      border-radius: 8px 0px 0px 8px;
    }

    #datePicker-1
    {
      width: 150px;
      border-radius: 0px 8px 8px 0px;
    }
    
    #divider {
      display: none;
    }
    
    #searchButton {
      width: 90%;
    }
    
    #suggestionListFrom, #suggestionListTo {
      width: 100%;
      margin-left: 0;
      margin-top: 10px;
    }
    
    #passengerCount.visible {
      width: 100%;
      margin-left: 0;
    }
    
    #suggestionListFrom, #suggestionListTo, #passengerCount.visible {
      position: static;
      margin-bottom: 10px;
    }
    
    #containerPassengers {
      width: 100%;
    }
    
    #youthAgeInfo {
      overflow: auto;
    }
  }
   */