#searchBar
{  
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 50px;
  min-width: 80%;
  display: inline-block;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#selectedTripType
{
  margin-top: 15px;
  border: none;
  margin-left: 15px;
}

#passengerButton
{
  justify-content: center;
  margin-right: auto;
  margin-top: 15px;
  border: none;
  margin-left: 15px;
}

#allInfo
{
  display: flex;
  justify-content: flex-start;
}

#tripInfo
{
  display: none;
}

#tripInfo.visible
{
    z-index: 1;
    display: flex;
    width: 150px;
    position: absolute;
    border-radius: 8px;
    margin-left: 15px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#containerTravelInfo
{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#chevronOneWay
{
  margin-left: -30px;
  padding-right: 12px;
}

#chevronRoundTrip
{
  margin-left: -15px;
  margin-right: 15px;
}

#travelInfoOne, #travelInfoRound
{
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

#travelInfoRound:hover
{
  cursor: pointer;
  background-color: #f9f9fa;
}

#travelInfoRound.selected, #travelInfoOne.selected
{
  font-weight: bold;
}

#travelInfoOne:hover
{
  cursor: pointer;
  background-color: #f9f9fa;
}

#suggestionListFrom
{
  background-color: #ffffff;
  width: 30%;
  position: absolute;
  overflow: auto;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#suggestionListTo
{
  background-color: #ffffff;
  margin-left: 300px;
  width: 30%;
  position: absolute;
  overflow: auto;
  height: 50%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

ul
{
  list-style-type: none;
}

li
{
  height: 50px;
  margin-left: -50px;
  cursor: pointer;
}

li:hover
{
  cursor: pointer;
  background-color: #f9f9fa;
}

#passengerCount
{
  display: none;
  overflow: scroll;
}

.passenger-label
{
  margin-right: 30px;
}

.passenger-count
{
  margin: 15px;
}

.line
{
  background-color: #f1f2f6;
  width: 75%;
  height: 2px;
  display: inline-block;
}

.passengerInfo
{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  margin-bottom: 5px;
}

#passengerCount.visible
{
  display: block;
  width: 350px;
  margin-left: 120px;
  position: absolute;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

#totalPassengersInfo
{
  display: inline-flex;
}

#totalPassengerCount
{
  margin-right: 3px;
}

#passengerButton, #selectedTripType
{
  border: none;
  background-color: #ffffff;
}

.fontChevron
{
  margin-right: 5px;
}

#passengerButton:hover, #selectedTripType:hover
{
  cursor: pointer;
}

.rotate 
{
  transition:  transform 0.3s ease;
}

.rotate2
{
  transition:  transform 0.3s ease;

}

#youthAgeInfo
{
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

#youthAge
{
  border-radius: 50%;
  width: 80px;
  height: 20px;
  border-radius: 20px;
  margin-left: -80px;
}

#ageDivider
{
  background-color: #f1f2f6;
  width: 50%;
  height: 2px;
  display: inline-flex;
}

.passengerCount
{
  background-color: #2196F3;
  margin-left: 150px;
}

.passengers
{
  display: flex;
}

#passengerInfo
{
  display: flex;
}

#containerPassengers
{
  background-color: #c47272;
  width: 150px;
  
}

#inputSearchFrom
{
  background-color: #f1f2f6;
  border-radius: 8px;
  height: 45px;
  border: none;
  width: 260px;
  margin-left: 6px;
  margin-top: 6px;
}

#inputSearchTo
{
  background-color: #f1f2f6;
  border-radius: 8px;
  height: 45px;
  border: none;
  width: 260px;
  margin-left: 15px;
  margin-top: 6px;
  margin-right: 15px;
}

#dateFrom
{
  background-color: #f1f2f6;
  border-radius: 8px 0px 0px 8px;
  height: 45px;
  border: none;
  width: 175px;
  margin-right: -2px;
}

#dateTo
{
  background-color: #f1f2f6;
  border-radius: 0px 8px 8px 0px;
  height: 45px;
  border: none;
  width: 175px;
}

#divider
{
  display: inline-block;
  width: 2px;
  vertical-align: middle;
  background-color: #e3e3e6;
  height: 30px;
}

#searchButton
{
  margin-right: 6px;
  background-color: #fa6c6b;
  height: 45px;
  width: 150px;
  border-radius: 8px;
  border: none;
  margin-left: 15px;
  color: #ffffff;
}

.switch 
{
  position: relative;
  justify-content: flex-start;
  display: inline-block;
  width: 35px;
  height: 17px;
  margin-top: 15px;
  margin-left: 55px;
}
  
.switch input[type="checkbox"]
{
  display: none;
}
  
#slider 
{
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: -1px;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
  
#slider:before 
{
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
  
input:checked + #slider 
{
  background-color: #2196F3;
}
  
input:checked + #slider:before 
{
  transform: translateX(13px);
}